@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Berkshire+Swash&family=Lora&family=Tilt+Prism&display=swap');

@font-face {
    font-family: 'Material Symbols Sharp';
    src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v116/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxOLojCL.woff2) format('woff2');
}

body {
    background-color: black;
    color: white;
    font-family: Lora, serif;
    margin-bottom: 4em;
}

main {
    margin: 1em;
}

footer {
    text-align: right;
    position: fixed;
    bottom: 0px;
    width: calc(100vw - 2em);
    padding: 0.5em;
    padding-left: 0;
    background-color: black;
}

h1,
h2 {
    font-family: "Aboreto", cursive;
    color: #1d95f8;
    margin: 0px;
    padding: 0px;
}

h3,
h4,
h5,
h6,
th,
summary {
    font-family: "Aboreto", cursive;
    color: white;
    margin: 0px;
    padding: 0px;
}

summary {
    cursor: pointer;
    color: yellow;
}

details {
    color: yellow;
}

article {
    padding-left: 1em;
    border-left: 1px solid yellow;
}

.material-symbols-sharp {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #1d95f8;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #177cce;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

ul.secondlevel {
    font-size: 0.85em;
}

li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 1em;
}

ul.secondlevel li {
    margin-bottom: 0px;
}

ul.toplevel li::before {
    content: "🠦";
    padding-right: 5px;
}

ul.secondlevel li::before {
    content: "⮡";
    padding-right: 5px;
}

nav.topnav ul.contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

nav.topnav li {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

nav.bottomnav {
    display: flex;
    justify-content: space-between;
}

table {
    margin: 1em;
}

table tr,
table td {
    padding-right: 1em;
    padding-bottom: 0.5em;
    vertical-align: top;
}

table th {
    width: 30vw;
    text-align: left;
}

.title {
    font-family: "Tilt Prism", cursive;
    font-size: 5em;
    font-weight: 400;
    color: #1d95f8;
    margin: 0px;
    padding: 0px;
    line-height: 0.8;
}

.subtitle {
    font-family: "Berkshire Swash", cursive;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
}

.contents {
    font-size: 1.5em;
}

.form {
    width: 40%;
}

.input-group {
    margin-bottom: 1em;
}

.input-group input, .input-group textarea, .input-group select {
    outline: none;
    background: none;
    border: 2px solid white;
    color: inherit;
    border-radius: 0;
    font-family: inherit;
    width: 100%;
    color: white;
}

.input-group input, .input-group textarea {
    cursor: text;
}

button {
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button h3 {
    color: #1d95f8;
    text-decoration: underline;
}

button:hover h3 {
    color: #177cce;
}