@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Berkshire+Swash&family=Lora&family=Tilt+Prism&display=swap');

body {
    background-color: black;
    color: white;
    font-family: Lora, serif;
    margin: 1em;
}

footer {
    text-align: right;
    position: fixed;
    bottom: 0px;
    width: calc(100vw - 3em);
    margin: 0.5em;
}

h1,
h2 {
    font-family: "Aboreto", cursive;
    color: #1d95f8;
    margin: 0px;
    padding: 0px;
}

h3,
h4,
h5,
h6,
th {
    font-family: "Aboreto", cursive;
    color: white;
    margin: 0px;
    padding: 0px;
}

a {
    color: #1d95f8;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #177cce;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

ul.secondlevel {
    font-size: 0.85em;
}

li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 1em;
}

ul.secondlevel li {
    margin-bottom: 0px;
}

ul.toplevel li::before {
    content: "🠦";
    padding-right: 5px;
}

ul.secondlevel li::before {
    content: "⮡";
    padding-right: 5px;
}

nav.topnav ul.contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

nav.topnav li {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

table {
    margin: 1em;
}

table tr,
table td {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

table th:first-of-type {
    text-align: left;
}

.title {
    font-family: "Tilt Prism", cursive;
    font-size: 5em;
    font-weight: 400;
    color: #1d95f8;
    margin: 0px;
    padding: 0px;
}

.subtitle {
    font-family: "Berkshire Swash", cursive;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
}

.contents {
    font-size: 1.5em;
}